# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# SQLAlchemy
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db